<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ic0intvXZSfBlYPIvWXpU1ivUCO.jpg">
      <ion-grid>

      <ion-row>

        <ion-col size="8"><ion-card-title class="titulo">Patrulha Canina: O Filme (2021)</ion-card-title></ion-col>

        <ion-col size="4">
         <ion-chip class="nota" color="secondary" outline>
           <ion-label>83%</ion-label>
         </ion-chip>
        </ion-col>

      </ion-row>

      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <div>
        <p class="subti">20/08/2021 (US) - 1h 28m</p>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Animação</ion-badge>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Familia</ion-badge>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Aventura</ion-badge>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Comédia</ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
