<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/ngpLhUccj6mlvAVpiIa7jUcFxhT.jpg">
      <ion-grid>

      <ion-row>

        <ion-col size="8"><ion-card-title class="titulo">Carga Explosiva 3 (2008)</ion-card-title></ion-col>

        <ion-col size="4">
         <ion-chip class="nota" color="secondary" outline>
           <ion-label>61%</ion-label>
         </ion-chip>
        </ion-col>

      </ion-row>

      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <div>
        <p class="subti">26/11/2008 (BR) - 1h 44m</p>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Ação</ion-badge>
          <ion-badge class="tipo" mode="ios" slot="start" color="medium">Aventura</ion-badge>
          <ion-badge class="tipo" mode="ios" slot="start" color="medium">Thriller</ion-badge>
          <ion-badge class="tipo" mode="ios" slot="start" color="medium">Crime</ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
