<ion-header>
  <ion-toolbar color="secondary shade">
    <ion-title class="header">
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <!-- Sliding item with text options on both sides -->
   <ion-item-sliding>

    <ion-item>
      <ion-label>Item Options</ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="success">
        <ion-icon (click)="presentAlert()" (click)="presentToast()" slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>
