<ion-header>
  <ion-toolbar color="secondary shade">
    <ion-title class="header">
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
  
    <ion-item>
      <ion-thumbnail class="fimg" slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/uIXF0sQGXOxQhbaEaKOi2VYlIL0.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1 class="filme">G.I. Joe Origens: Snake Eyes</h1>
        <p>19/08/2021</p>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Ação</ion-badge>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Aventura</ion-badge>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
