.header{
color:#000000;
font-weight: 700;
text-align: center;
}


.fimg{
  width:4.2rem;
  height: 7rem;
}

.tipo{
font-size:0.9rem;
margin-right: 0.3rem;
}

.titulo{
  font-weight: bold;
  font-size:1.2rem;
}

.subti{
 font-size:1.0rem;
 margin-bottom: 0.2rem;
}

.nota{
 border:solid;
 border-radius: 3rem;
 padding-inline: 0.5rem;
 height:3.5rem;
 width:3.5rem;
 font-weight: bold;
 font-size:1rem;
}

.barra{
  background-color:#ffffff;
}
