<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/eKfxxGjjVqrWx2iD2AxQUiY1hwR.jpg">
      <ion-grid>

      <ion-row>

        <ion-col size="8"><ion-card-title class="titulo">Samurai X: A Origem (2021)</ion-card-title></ion-col>

        <ion-col size="4">
         <ion-chip class="nota" color="secondary" outline>
           <ion-label>78%</ion-label>
         </ion-chip>
        </ion-col>

      </ion-row>

      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <div>
        <p class="subti">04/06/2021 (JP) - 2h 18m</p>
        <ion-badge class="tipo" mode="ios" slot="start" color="medium">Ação</ion-badge>
          <ion-badge class="tipo" mode="ios" slot="start" color="medium">Aventura</ion-badge>
          <ion-badge class="tipo" mode="ios" slot="start" color="medium">Drama</ion-badge>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
